---
import Layout from "../layouts/layout.astro";
---

<Layout
  title="Contract Us"
  description="MEP Consulting Engineer in Los Angeles"
>
  <!-- <main class="page-width pt-20 pb-8"> -->
  <section
    class="flex flex-col gap-8 page-width aos:opacity-0 duration-700 page-width"
  >
    <h1 class="page-header">Contact Us</h1>
    <div>
      <div class="opacity-70 font-bold">Email</div>
      <div>joeyjiron@aol.com</div>
    </div>

    <div>
      <div class="opacity-70 font-bold">Phone</div>
      <div>(+1) 323-523-1575</div>
    </div>

    <div>
      <div class="opacity-70 font-bold">Address</div>
      <div>528 E. Merced Ave.</div>
      <div>West Covina, CA 91790</div>
    </div>

    <div class="prose max-w-none">
      <p>
        Have any questions?<br />
        Check out our <a href="/faq">FAQ</a>
      </p>
    </div>
  </section>
  <!-- </main> -->
</Layout>

<script>
  import "../animateOnScroll";
</script>
