---
import Layout from "../../layouts/layout.astro";
---

<Layout title="Joey Jiron" description="Principal Engineer">
  <main class="py-20 px-6 gap-10 grid grid-cols-1 md:grid-cols-2 page-width">
    <section class="hero">
      <div class="hero-content flex-col">
        <img
          class="w-64 h-64 rounded-full object-cover"
          src="/img/joeyjiron.png"
          alt="Joey Jiron"
        />
        <div class="prose text-center">
          <h1 class="text-7xl mb-4">
            joey <span class="font-normal">jiron</span>
          </h1>
          <h2 class="text-xl m-0 font-normal">
            Principal | Mechanical Engineer
          </h2>
          <p><span>626-523-1575</span> • <span>joeyjion@aol.com</span></p>
        </div>
      </div>
    </section>

    <!-- <div class="grid grid-cols-2">
      <img class="w-32 h-32 rounded-full object-cover " src="/img/joeyjiron.png" alt="Joey Jiron" />

      <div class="prose">
        <h1 class="text-6xl mb-4">joey<span class="font-normal">jiron</span></h1>
        <h2 class=" text-xl m-0 font-normal">Mechanical Engineer • Principal</h2>

        <div class="flex flex-col gap-6">
          <div>
            <strong>Phone</strong>
            <div>626-523-1575</div>
          </div>

          <div>
            <strong>Email</strong>
            <div>joeyjiron@aol.com</div>
          </div>

          <a href="https://www.linkedin.com/in/joey-jiron-4a339215/" class="m-0 w-6 h-6">
            <img src="/img/linked-in.png" alt="linked in" class="object-contain m-0" />
          </a>
        </div>
      </div>
    </div> -->

    <article class="prose">
      <h1>About Me</h1>

      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </p>
    </article>

    <secton class="prose md:col-span-2">
      <h1>Expereience</h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.
      </p>

      <p>Skills include</p>

      <ul>
        <li>Mechanical Engineering</li>
        <li>Project Managment</li>
        <li>Title 24</li>
        <li>Heat Load Calculations</li>
      </ul>
    </secton>
  </main>
</Layout>
