---
import Layout from '../layouts/baseLayout.astro'
---

<Layout title='About' description='MEP Consulting company'>
  <article class='prose max-w-none'>
    <section>
      <h1 class='page-header'>About</h1>

      <p>
        AJ Design group was founded in 1999 with a mission to provide
        top-quality mechanical, electrical and plumbing engineering designs for
        all construction projects. We are based in Los Angeles but our work
        spans
        <strong> Los Angeles County</strong>, <strong>San Diego County</strong
        >,<strong>Orange County</strong>, and
        <strong>Ventura County</strong>.
      </p>

      <p>Our engineers specialize in the following:</p>

      <div class='grid grid-cols-2'>
        <ul>
          <li>MEP</li>
          <li>Mechanical</li>
          <li>Electrical</li>
          <li>Plumbing</li>
          <li>Title 24</li>
        </ul>

        <ul>
          <li>Fire Sprinklers</li>
          <li>Gas</li>
          <li>Sewer</li>
          <li>Solar</li>
          <li>Lighting</li>
        </ul>
      </div>
    </section>

    <section class='flex flex-col gap-4'>
      <h2 class='text-4xl font-extrabold'>Our Leaders</h2>

      <div class='grid grid-cols-1 gap-10 md:grid-cols-2'>
        <div class='flex gap-6 items-center'>
          <div class='flex flex-col gap-2'>
            <p>
              With over 25 years of experience, Joey has been design HVAC
              systems and running AJ Design Group
            </p>
            <p class='text-lg py-0 my-0'><b>Joey Jiron</b></p>
            <p>Principal | Mechanical Engineer</p>
          </div>
        </div>
      </div>
    </section>

    <section class=''>
      <h2 class='text-4xl font-extrabold'>Frequently Asked Questions</h2>

      <p>
        Here are some answers to the most comment questions we receive. Please
        feel free to contact us if you do not see your question answered below.
      </p>

      {
        [
          {
            question: 'Where are we located?',
            answer:
              'We are proud to be licensed in 15 states and counting. Our main offices are located in San Diego and Orange County.'
          },
          {
            question: 'Do you do custom work?',
            answer:
              "We do it all! Whether you've got a custom commercial, industrial, or residential, project that requires engineering consulting, we've got you covered."
          },
          {
            question: 'What services do you offer?',
            answer: (
              <ul>
                <li>MEP</li>
                <li>Mechanical</li>
                <li>Electrical</li>
                <li>Plumbing</li>
                <li>Title 24</li>
                <li>Fire Sprinklers</li>
                <li>Gas</li>
                <li>Sewer</li>
                <li>Solar</li>
                <li>Lighting</li>
                <li>Heat Load Calculations</li>
              </ul>
            )
          },
          {
            question: 'What does MEP stand for?',
            answer:
              'MEP stands for mechanical, electrical, and plumbing. AJ Design Group develops engineering plans for your contractor.'
          },
          {
            question: 'Who are your typical clients?',
            answer:
              'We typically work with architects, designers, general contractors and design-build contracts. We also deal directly with property/business owners.'
          }
        ].map(({ question, answer }) => (
          <details class='collapse collapse-arrow max-w-lg'>
            <summary class='collapse-title font-medium'>{question}</summary>
            <div class='collapse-content'>
              <p>{answer}</p>
            </div>
          </details>
        ))
      }
    </section>
  </article>
</Layout>

<style>
  section {
    @apply container mx-auto px-6;
  }
</style>
