---
import Layout from '../layouts/baseLayout.astro'
---

<Layout title='About' description='MEP Consulting company'>
  <article class='prose prose-invert max-w-none py-12'>
    <section>
      <h1 class='page-header'>About</h1>

      <p>
        AJ Design group was founded in 1999 with a mission to provide
        top-quality mechanical, electrical and plumbing engineering designs for
        all construction projects. We are based in Los Angeles but our work
        spans
        <strong> Los Angeles County</strong>, <strong>San Diego County</strong
        >,<strong>Orange County</strong>, and
        <strong>Ventura County</strong>.
      </p>

      <p>Our engineers specialize in the following:</p>

      <div class='grid grid-cols-2'>
        <ul>
          <li>MEP</li>
          <li>Mechanical</li>
          <li>Electrical</li>
          <li>Plumbing</li>
          <li>Title 24</li>
        </ul>

        <ul>
          <li>Fire Sprinklers</li>
          <li>Gas</li>
          <li>Sewer</li>
          <li>Solar</li>
          <li>Lighting</li>
        </ul>
      </div>
    </section>

    <section>
      <h2 class='text-4xl font-extrabold'>Frequently Asked Questions</h2>

      <p>
        Here are some answers to the most comment questions we receive. Please
        feel free to contact us if you do not see your question answered below.
      </p>

      <div class='grid grid-cols-1 gap-8 md:grid-cols-2'>
        <div class='py-2'>
          <h6 data-id='faq1_question' class='py-3 font-semibold'>
            What types of projects do you handle?
          </h6>
          <p data-id='faq1_answer'>
            We handle both commercial and high-end residential projects,
            providing comprehensive engineering drawings.
          </p>
        </div>

        <div class='py-2'>
          <h6 data-id='faq2_question' class='py-3 font-semibold'>
            How long does the design process take?
          </h6>
          <p data-id='faq2_answer'>
            For projects under 5000 sq feet, we offer a turnaround time of 2
            weeks, while larger projects require collaborative planning to meet
            deadlines efficiently.
          </p>
        </div>

        <div class='py-2'>
          <h6 data-id='faq3_question' class='py-3 font-semibold'>
            Do you offer support during the construction phase?
          </h6>
          <p data-id='faq3_answer'>
            Yes, we provide continuous support during the construction phase to
            address any emerging issues and ensure that the MEP systems are
            implemented according to plan.
          </p>
        </div>

        <div class='py-2'>
          <h6 data-id='faq4_question' class='py-3 font-semibold'>
            Do you provide revisions to the drawings?
          </h6>
          <p data-id='faq4_answer'>
            Yes, we offer revisions to ensure our designs meet your expectations
            and needs.
          </p>
        </div>

        <div class='py-2'>
          <h6 data-id='faq5_question' class='py-3 font-semibold'>
            What size of projects can AJ Design Group handle?
          </h6>
          <p data-id='faq5_answer'>
            From large commercial developments to small residential projects,
            our skilled engineers deliver exceptional design services tailored
            to your project's scale.
          </p>
        </div>

        <div class='py-2'>
          <h6 data-id='faq6_question' class='py-3 font-semibold'>
            Is AJ Design Group licensed and insured?
          </h6>
          <p data-id='faq6_answer'>
            Yes, we are fully licensed to operate in California and carry
            insurance for all our services.
          </p>
        </div>
      </div>
    </section>
  </article>
</Layout>

<style>
  section {
    @apply container mx-auto px-3 sm:px-5 md:px-8 lg:px-12;
  }
</style>
