---
import Layout from '~/layouts/baseLayout.astro'
import ContactComponent from '~/components/contact.astro'
---

<Layout
  title='Contract Us'
  description='MEP Consulting Engineer in Los Angeles'
>
  <div class='container px-6 mx-auto space-y-8'>
    <div class='prose'>
      <h1>Contact Us</h1>
    </div>
    <ContactComponent />

    <a href='get-my-free-quote' class='btn btn-primary'>Get my free quote</a>
  </div>
</Layout>
