---
  import BaseHead from "../components/BaseHead.astro";
  import Header from "../components/Header.astro";
  import Footer from "../components/Footer.astro";
  import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en" data-theme="custom">

<head>
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>

<body>
  <Header title={SITE_TITLE} />
  <main>
    <section class="hero min-h-screen bg-base-200">
      <div class="hero-content w-full h-full relative overflow-hidden lg:flex lg:flex-row">
        <div class="max-w-4xl prose lg:flex-1">
          <h1 class="text-5xl md:text-6xl">MEP Engineering Experts You Can Trust</h1>
          <p>
            Trust us to bring your vision to life with our innovative engineering solutions
          </p>
          <div class="flex gap-4">
            <button class="btn-primary">Our Services</button>
            <button class=" btn-ghost ">View Projects</button>
          </div>
        </div>

        <div class="absolute -z-10 w-full h-full top-0 left-0 lg:relative lg:flex-1 lg:max-h-[900px]">
          <img src="https://source.unsplash.com/yZmHFF-g-W0" alt="duct work"
            class="object-cover w-full h-full rounded" />
          <div class="bg-neutral-900 opacity-80 absolute w-full h-full top-0 left-0 lg:hidden" />
        </div>
      </div>
    </section>

    <section class="grid grid-cols-1 gap-10 p-6 md:grid-cols-3 md:py-12">
      <div class="flex flex-col items-center prose gap-4">
        <h1 class="text-5xl md:text-6xl mb-0">45+</h1>
        <p class="mt-0">Years of Expereience</p>
      </div>

      <div class="flex flex-col items-center prose gap-4">
        <h1 class="text-5xl md:text-6xl mb-0">400+</h1>
        <p class="mt-0">Projects Complete</p>
      </div>

      <div class="flex flex-col items-center prose gap-4">
        <h1 class="text-5xl md:text-6xl mb-0">120+</h1>
        <p class="mt-0">Clients</p>
      </div>
    </section>

    <section class="p-4 bg-base-300">
      <div class="prose">
        <h1>Our Services</h1>
      </div>

      <div class="grid grid-cols-1 gap-4 p-6 sm:grid-cols-2 md:grid-cols-3">
        <div class="card bg-base-100 shadow-xl">
          <figure class="max-h-52"><img src="https://source.unsplash.com/random" alt="Shoes" /></figure>
          <div class="card-body prose">
            <h2 class="card-title">Mechanical</h2>
            <p>
              Heating <br />
              Ventalating <br />
              Air Conditioning <br />
            </p>
            <div class="card-actions">
              <button class="btn-ghost underline -ml-4">Learn More</button>
            </div>
          </div>
        </div>

        <div class="card bg-base-100 shadow-xl">
          <figure class="max-h-52"><img src="https://source.unsplash.com/random" alt="Shoes" /></figure>
          <div class="card-body prose">
            <h2 class="card-title">Electrical</h2>
            <p>
              Power <br />
              Lighting <br />
              Photometric Calculations<br />
            </p>
            <div class="card-actions">
              <button class="btn-ghost underline -ml-4">Learn More</button>
            </div>
          </div>
        </div>

        <div class="card bg-base-100 shadow-xl">
          <figure class="max-h-52"><img src="https://source.unsplash.com/random" alt="Shoes" /></figure>
          <div class="card-body prose">
            <h2 class="card-title">Plumbing</h2>
            <p>
              Water <br />
              Sanitary <br />
              Storm Systems<br />
              Process Piping
            </p>
            <div class="card-actions">
              <button class="btn-ghost underline -ml-4">Learn More</button>
            </div>
          </div>
        </div>

        <div class="card bg-base-100 shadow-xl">
          <figure class="max-h-52"><img src="https://source.unsplash.com/random" alt="Shoes" /></figure>
          <div class="card-body prose">
            <h2 class="card-title">Title 24</h2>
            <p>
              Lighting​ <br />
              Power Distribution​ <br />
              Voltage Drop <br />
              ​Mechanical ​Hood Worksheets​ <br />
              Envelope
            </p>
            <div class="card-actions">
              <button class="btn-ghost underline -ml-4">Learn More</button>
            </div>
          </div>
        </div>

        <div class="card bg-base-100 shadow-xl">
          <figure class="max-h-52"><img src="https://source.unsplash.com/random" alt="Shoes" /></figure>
          <div class="card-body prose">
            <h2 class="card-title">Fire Protection</h2>
            <p>
              Fire Detection and Alarm System​<br />
              Automatic Sprinkler System<br />
            </p>
            <div class="card-actions">
              <button class="btn-ghost underline -ml-4">Learn More</button>
            </div>
          </div>
        </div>

        <div class="card bg-base-100 shadow-xl">
          <figure class="max-h-52"><img src="https://source.unsplash.com/random" alt="Shoes" /></figure>
          <div class="card-body prose">
            <h2 class="card-title">Power Study</h2>
            <p>

              Short Circuit Calculation <br />
              ​Coordination Study<br />
              ​Arc Flash Hazard Assessment<br />
              ​Equipment Evaluation
            </p>
            <div class="card-actions">
              <button class="btn-ghost underline -ml-4">Learn More</button>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="p-4 md:p-10 grid grid-cols-1 gap-10 md:grid-cols-2 md:px-10 bg-base-200">
      <div class="prose md:flex md:flex-col md:justify-center">
        <h1>Design with Confidence</h1>
        <p>When it comes to designing commercial buildings, you need a team that delivers professional and high-quality
          designs. AJ Design Group's licensed engineers provide you with the confidence you need to take on any project.
          Trust us to deliver top-notch designs that meet your unique needs.</p>

      </div>

      <div class="max-h-[600px] overflow-hidden">
        <img src="https://source.unsplash.com/random" alt="hvac image" class="object-cover rounded" />
      </div>
    </section>


    <section class="p-6 md:p-10 bg-base-100">
      <div class="prose text-center m-auto">
        <h1 class="text-4xl md:text-5xl ">Take your project to the next level with our expert engineers</h1>
        <p>We create quality solutions that are on-time, on-budget and stress free</p>

        <button class="btn-secondary">Contact Us</button>
      </div>
    </section>
  </main>
  <Footer />
</body>

</html>