---
import Layout from '../layouts/baseLayout.astro'
---

<Layout
  title='AJ Design Group Services'
  description='Mechanical, Electrical, Plumbing  (MEP) Engineering services'
>
  <article class='prose prose-invert max-w-none py-12'>
    <section>
      <h1>MEP Services</h1>
      <p>
        With over 45 years of experience, we are your local MEP consulting firm
        in <strong>Los Angeles</strong>, <strong>San Diego</strong>, <strong
          >Orange County</strong
        >, and <strong>Ventura County</strong>. Our MEP design specialists are
        licensed engineers who design HVAC systems of varying complexity,
        plumbing design specifications for piping projects, lighting systems,
        control systems, fire alarm and building power distribution systems.
        Please refer to the services below that each department offers.
      </p>
    </section>

    <section>
      <h2>
        <a href='#mechanical' class='no-underline text-4xl font-extrabold'>
          Mechanical
        </a>
      </h2>

      <p>
        HVAC consulting engineers provide a range of services to ensure that
        your building&apos;s mechanical systems are running efficiently and
        effectively. These services include engineering for heating,
        ventilation, and air conditioning (HVAC) design, and maintenance. The
        company&apos;s team of experts will work with you to develop a
        customized solution that meets your specific needs and budget.
      </p>
      <p>
        With the right mechanical services in place, you can ensure that your
        building is operating at peak efficiency while providing a comfortable
        and safe environment for its occupants. Here are some services we
        provide:
      </p>

      <ul>
        <li>Mechanical drafting and design</li>
        <li>Mechanical specifications</li>
        <li>3D Revit drawings</li>
        <li>Duct layout drawings</li>
        <li>Autocad drawings</li>
        <li>Title-24 energy compliance</li>
        <li>Heat loss and/or gain calculations</li>
        <li>Heating and cooling equipment selections</li>
      </ul>
    </section>

    <section>
      <h2>
        <a href='#electrical' class='no-underline text-4xl font-extrabold'>
          Electrical
        </a>
      </h2>

      <p>
        Our electrical engineers provide a range of services that help clients
        with their electrical needs. These engineers offer services for lighting
        systems, control systems, signalization, fire alarm, telecommunications,
        and building power distribution. Here are some services we provide:
      </p>

      <ul>
        <li>
          Design lighting and power circuits, including mandatory Title 24
          controls
        </li>
        <li>
          Perform load calculations, single line diagrams, and panel schedules
        </li>
        <li>Ensure Title 24 compliance for lighting systems</li>
        <li>
          Design emergency egress lighting and conduct photometric studies
        </li>
        <li>Electrical specifications</li>
      </ul>
    </section>

    <section>
      <h2>
        <a href='#plumbing' class='no-underline text-4xl font-extrabold'>
          Plumbing
        </a>
      </h2>

      <p>
        Our plumbing engineers provide a wide range of services to help clients
        with their plumbing needs. These services include:
      </p>

      <ul>
        <li>Design utilities for cold/hot water and sewer systems</li>
        <li>Develop plumbing plans for city hall submission</li>
        <li>Fuel gas piping systems</li>
        <li>Storm water systems</li>
        <li>Automatic sprinkler systems</li>
        <li>Plumbing specifications</li>
      </ul>
    </section>
  </article>
</Layout>

<style>
  section {
    @apply container mx-auto px-3 sm:px-5 md:px-8 lg:px-12;
  }
</style>

<script>
  function scrollAnchorIntoView() {
    const hash = window.location.hash

    if (!hash) {
      return
    }

    const [element] = document.querySelectorAll(`[href="${hash}"]`)

    if (!element) {
      return
    }

    const yOffset = -60
    const y = element.getBoundingClientRect().top + window.scrollY + yOffset

    window.scrollTo({ top: y })
  }

  scrollAnchorIntoView()
</script>
