---
import type { HTMLAttributes } from "astro/types";
import path from "path";

type Props = HTMLAttributes<"a">;

const BaseUrl = import.meta.env.BASE_URL;

const { href, ...props } = Astro.props;

const updatedHref = path.join(href?.toString() || "", BaseUrl || "");
---

<a href={updatedHref} {...props}>
  <slot />
</a>
