<div class='space-y-10'>
  <div>
    <p class='opacity-70'>Email</p>
    <a href='mailto:joeyjiron@aol.com' class='text-base-foreground'
      >joeyjiron@aol.com</a
    >
  </div>

  <div>
    <div class='opacity-70'>Phone</div>
    <a class='text-base-foreground' href='tel:+16265231575'>(+1) 626-523-1575</a
    >
  </div>

  <div>
    <p class='opacity-70'>Location</p>
    <p class='text-base-foreground'>Los Angeles, CA</p>
  </div>
</div>
