<div class='space-y-10'>
  <div>
    <p class='opacity-70'>Email</p>
    <a href='mailto:joeyjiron@aol.com' class='font-bold'>joeyjiron@aol.com</a>
  </div>

  <div>
    <div class='opacity-70'>Phone</div>
    <a href='tel:+16265231575'>(+1) 626-523-1575</a>
  </div>

  <div>
    <p class='opacity-70'>Office</p>
    <p>528 E. Merced Ave.</p>
    <p>West Covina, CA 91790</p>
  </div>
</div>
