---
---

<section class="prose page-width py-8">
  <h2 class="text-3xl md:text-4xl px-4">Frequently Asked Questions</h2>

  <div
    tabindex="0"
    class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box"
  >
    <input type="checkbox" />

    <div class="collapse-title text-xl font-medium">Where are we located?</div>
    <div class="collapse-content">
      <p>
        We are proud to be licensed in California. Our main office is located in
        Los Angeles, but we serve Orange County, San Diego and Ventura County.
      </p>
    </div>
  </div>

  <div
    tabindex="0"
    class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box"
  >
    <input type="checkbox" />
    <div class="collapse-title text-xl font-medium">Do you do custom work?</div>
    <div class="collapse-content">
      <p>
        We do it all! Whether you’ve got a custom commercial, industrial, or
        residential, project that requires engineering consulting, we’ve got you
        covered.
      </p>
    </div>
  </div>

  <div
    tabindex="0"
    class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box"
  >
    <input type="checkbox" />
    <div class="collapse-title text-xl font-medium">
      What services do you offer?
    </div>
    <div class="collapse-content">
      <p>Our engineers specialize in</p>

      <ul>
        <li>MEP</li>
        <li>Mechanical</li>
        <li>Electrical</li>
        <li>Plumbing</li>
        <li>Title 24</li>
        <li>Fire Sprinklers</li>
        <li>Gas</li>
        <li>Sewer</li>
        <li>Solar</li>
        <li>Lighting</li>
        <li>Heat Load Calculations</li>
      </ul>
    </div>
  </div>

  <div
    tabindex="0"
    class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box"
  >
    <input type="checkbox" />
    <div class="collapse-title text-xl font-medium">
      What does MEP stand for?
    </div>
    <div class="collapse-content">
      <p>
        MEP stands for mechanical, electrical, and plumbing. AJ Design Group
        develops engineering plans for your contractor.
      </p>
    </div>
  </div>

  <div
    tabindex="0"
    class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box"
  >
    <input type="checkbox" />
    <div class="collapse-title text-xl font-medium">
      Who are your typical clients?
    </div>
    <div class="collapse-content">
      <p>
        We typically work with architects, designers, general contractors, and
        design-build contracts. We also deal directly with property/business
        owners.
      </p>
    </div>
  </div>
</section>
