---
const today = new Date();
---

<footer class="p-10 text-base-content page-width">
  <div>
    <span class="footer-title">Services</span>
    <a href="/services#mechanical">Mechanical</a>
    <a href="/services#electrical">Electrical</a>
    <a href="/services#plumbing">Plumbing</a>
  </div>

  <div>
    <span class="footer-title">Company</span>
    <a href="/about">About Us</a>
    <a href="/contact">Contact</a>
    <a href="/services">Services</a>
  </div>

  <div>
    <span class="footer-title">Legal</span>
    <a href="/privacy-policy">Privacy Policy</a>
    <a href="/terms-of-service">Terms of Service</a>
  </div>
  <div class="w-full md:h-full md:w-[1px]">
    <div class="divider md:divider-vertical md:h-full md:w-[1px] w-full"></div>
  </div>

  <div>
    <div class="prose">
      <h2>LOGO</h2>
    </div>
    <div>
      &copy; {today.getFullYear()} AJ Design Group. All rights reserved.
    </div>

    <div>
      Made with ❤️ by <a
        class="link"
        href="https://www.linkedin.com/in/joeyjiron/"
        target="_blank"
        >Joey Jiron
      </a>
    </div>
  </div>
</footer>
