---
import A from '../components/A.astro';

const today = new Date();
---

<footer class="p-10 text-base-content page-width">
  <div>
    <span class="footer-title">Services</span>
    <A href="/services#mechanical">Mechanical</A>
    <A href="/services#electrical">Electrical</A>
    <A href="/services#plumbing">Plumbing</A>
  </div>

  <div>
    <span class="footer-title">Company</span>
    <A href="/about">About Us</A>
    <A href="/contact">Contact</A>
    <A href="/services">Services</A>
  </div>

  <div>
    <span class="footer-title">Legal</span>
    <A href="/privacy-policy">Privacy Policy</A>
    <A href="/terms-of-service">Terms of Service</A>
  </div>

  <!-- 
  <div class="flex flex-col items-center gap-6">
    <div class="prose">
      <h2>LOGO</h2>
    </div>



    <div class="flex gap-8">
      <A href="/about">About</A>
      <A href="/services">Services</A>
      <A href="/contact">Contact</A>
    </div>

    <div class="flex flex-col gap-4">
      <div class="prose prose-p:m-1">
        <p><b>Address:</b></p>
        <p>528 E Merced Ave, West Covina, CA 91790</p>
      </div>

      <div class="prose prose-p:m-1">
        <p><b>Contact:</b></p>
        <p>(626) 523-1575</p>
        <p>joeyjiron@aol.com</p>
      </div>
    </div> 
  </div> -->
  <div class="w-full md:h-full md:w-[1px]">
    <div class="divider md:divider-vertical md:h-full md:w-[1px] w-full"></div>
  </div>

  <div>
    <div class="prose">
      <h2>LOGO</h2>
    </div>
    <div>
      &copy; {today.getFullYear()} AJ Design Group. All rights reserved.
    </div>

    <div>
      Made with ❤️ by <a
        class="link"
        href="https://www.linkedin.com/in/joeyjiron/"
        target="_blank">Joey Jiron</
      >
    </div>
  </div>
</footer>
