---
  import HeaderLink from "./HeaderLink.astro";
  import { SITE_TITLE } from "../consts";

---

<header class="navbar bg-base-100 fixed left-0 top-0 z-10">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost md:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"></path>
        </svg>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">
          Twitter
        </HeaderLink>
        <HeaderLink href="https://github.com/withastro/astro" target="_blank">
          GitHub
        </HeaderLink>
      </ul>
    </div>
    <a href="/" class="btn btn-ghost normal-case text-xl">LOGO</a>
  </div>
  <div class="navbar-end hidden md:flex">
    <ul class="menu menu-horizontal px-1">
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/services">Services</HeaderLink>
      <HeaderLink href="/contact">Contact</HeaderLink>
    </ul>
  </div>
</header>

<style>
  header {
    margin: 0em 0 2em;
  }

  h2 {
    margin: 0.5em 0;
  }
</style>